@using LogicaDeNegocio


<body>
    <h1>Listado de Actividades</h1>

    @if (ViewBag.mensaje != null) {
        <p style="color:red">@ViewBag.mensaje</p>
    }

    <form method="get">
        <label for="fecha"></label>
        <input name="fecha" type="date" value="@ViewBag.fecha.ToString("yyyy-MM-dd")" />
        <input value="Buscar" type="submit" class="btn btn-primary" />
    </form>
    
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cantidad Máxima de Personas</th>
                <th scope="col">Edad Mínima</th>
                <th scope="col">Costo Final</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Actividad a in AdminHostel.GetInstancia.ListarActividades()) {
                @if (ViewBag.fecha.ToString("d") == a.Fecha.ToString("d")) {
                    <tr>
                        <th scope="row">@a.Id</th>
                        <td>@a.Nombre</td>
                        <td>@a.Descripcion</td>
                        <td>@a.Fecha.ToShortDateString()</td>
                        <td>@a.CantidadMaxPersonas</td>
                        <td>@a.EdadMinina años</td>
                        <td>$@a.Costo</td>
                        <td>
                            <form action="~/Actividad/Agendar" method="post"><button type="submit" name="id" value="@a.Id">Agendar</button></form>
                        </td>
                    </tr>
                }
            }
            
        </tbody>
    </table>

   <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> --> 
</body>
</html>