@using LogicaDeNegocio

   <h2> Lista de agendas</h2>
<p style="color:tomato">@ViewBag.Error</p>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre del Huesped</th>
                <th scope="col">Actividad</th>
                <th scope="col">Fecha</th>
                <th scope="col">Lugar</th>
                <th scope="col">Costo final</th>
                <th scope="col">Proveedor </th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>

            @foreach(Actividad ac in AdminHostel.GetInstancia.ListarActividadesPorFecha())
            {
                <tr>
                @foreach(Agenda ag in ac.Agendas)
                {
                    @if(Context.Session.GetString("rol") == "Huesped")
                    {
                        if (ag.Huesped.Email == @ViewBag.Email && ac.Fecha >= DateTime.Now)
                        {

                            <td>@ag.Huesped.Nombre @ag.Huesped.Apellido</td>
                            <td>@ac.Nombre</td>
                            <th>@ac.Fecha.ToString("dd/MM/yyyy")</th>
                            <td>@ac.GetLugar()</td> 
                                if (ag.CostoFinal > 0)
                                {
                                    <td>@ag.CostoFinal</td>
                                }else{
                                    <td>Actividad gratuita</td>
                                }

                                if(ac.TipoActividad() == "Terciarizada"){<td>@ac.GetProveedor() </td>                          
                                }
                                else{<td> </td>  // Solo por motivo estetico =)
                                    }
                            <td>@ag.EstadoAgenda</td>

                        }

                    }
                    else
                    {
                        if (ag.Huesped.Email == @ViewBag.Email)
                        {

                            <td>@ag.Huesped.Nombre @ag.Huesped.Apellido</td>
                            <td>@ac.Nombre</td>
                            <th>@ac.Fecha.ToString("dd/MM/yyyy")</th>
                            <td>@ac.GetLugar()</td>
                            if (ag.CostoFinal > 0)
                            {
                                <td>@ag.CostoFinal</td>
                            }
                            else
                            {
                                <td>Actividad gratuita</td>
                            }

                            if (ac.TipoActividad() == "Terciarizada")
                            {
                                <td>@ac.GetProveedor() </td>
                            }
                            else
                            {
                                <td> </td>
                                // Solo por motivo estetico =)
                            }
                            <td>@ag.EstadoAgenda</td>

                        }
                    }
                }
                </tr>
            }
                
            
            <tr>
            
            </tr>
        </tbody>
    </table>
   
</div>