@using LogicaDeNegocio

<div style="background-color: #f5f5f5; padding: 10px; border-radius: 5px; margin-bottom: 10px;">
    @if (ViewBag.userRol == "Operador") {
        <h2 style="font-size: 18px; margin-bottom: 10px;">Datos personales</h2>
        <br />

        <br />

        <p><strong>Nombre:</strong> @ViewBag.Usuario.Nombre</p>
        <p><strong>Apellido:</strong> @ViewBag.Usuario.Apellido</p>
        <p><strong>Fecha:</strong> @ViewBag.Usuario.FechaAlta.ToString("dd/MM/yyyy")</p>
    }
    @if (ViewBag.userRol == "Huesped") {
        <h2 style="font-size: 18px; margin-bottom: 10px;">Datos personales</h2>
        <br />

        <br />

        <p><strong>Nombre:</strong> @ViewBag.Usuario.Nombre</p>
        <p><strong>Apellido:</strong> @ViewBag.Usuario.Apellido</p>
        <p><strong>Nro de documento:</strong> @ViewBag.Usuario.NroDocumento</p>
        <p><strong>Tipo de documento:</strong> @ViewBag.Usuario.TipoDoc</p>
        <p><strong>Fecha de nacimiento:</strong> @ViewBag.Usuario.FechaNacimiento.ToString("dd/MM/yyyy")</p>
        <p><strong>Habitación:</strong> @ViewBag.Usuario.Habitacion</p>
        <p><strong>Nivel de fidelización:</strong> @ViewBag.Usuario.NivelFidelizacion</p>
    }
</div>
