@using LogicaDeNegocio

<div>
    @if (AdminHostel.GetInstancia.BuscarPorEmail(Context.Session.GetString("email")).VerificarRol() == "Operador")
    {
        <h2>Datos personales</h2> <br /> <br />

        <p>Nombre: @ViewBag.Usuario.Nombre </p>
        <p>Apellido: @ViewBag.Usuario.Apellido </p>
        <p>Fecha: @ViewBag.Usuario.ToString()</p>
        // esta roto esto
    }
    @if (AdminHostel.GetInstancia.BuscarPorEmail(Context.Session.GetString("email")).VerificarRol() == "Huesped")
    {
        <h2>Datos personales</h2> <br /> <br />
    
        <p>Nombre: @ViewBag.Usuario.Nombre </p>
        <p>Apellido: @ViewBag.Usuario.Apellido </p>
        <p>Nro de documento: @ViewBag.Usuario.NroDocumento </p>
        <p>Tipo de documento: @ViewBag.Usuario.TipoDoc</p>
        <p>Fecha de nacimiento: @ViewBag.Usuario.FechaNacimiento.ToString("dd/MM/yyyy")</p>
        <p>Habitacion: @ViewBag.Usuario.Habitacion</p>
        <p>Nivel de fidelizacion: @ViewBag.Usuario.NivelFidelizacion</p>
        
    }





</div>
