@using LogicaDeNegocio

<div>
    <h2>Lista de agendas</h2>
    
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre del Huesped</th>
                <th scope="col">Actividad</th>
                <th scope="col">Fecha</th>
                <th scope="col">Lugar</th>
                <th scope="col">Costo final</th>
                <th scope="col">Proveedor </th
            </tr>
        </thead>
        <tbody>
            @foreach(Actividad ac in AdminHostel.GetInstancia.ListarActividades())
            {
            <tr>
                @foreach(Agenda ag in ac.Agendas)
                {
                <td>@ag.Huesped.Nombre @ag.Huesped.Apellido</td>
                <th>@ac.Nombre</th>
                <td>@ag.FechaCreacionAgenda</td>
                <td>@ag.</td>
                <td>@ag.CostoFinal</td>
                <td>@ag. </td>                                
                }
            </tr>
                
            }
            
        </tbody>
    </table>
   
</div>